<div class="header">
    <div class="title pull-left">Flex-eDisplay</div>
    <div class="logout pull-right">
        <a data-ng-click="display.home()" tooltip-placement="bottom" uib-tooltip="Home"><i class="fa fa-home fa-2x"></i></a>
        <i tooltip-placement="bottom" uib-tooltip="Logout" data-ng-click="display.logout()" class="fa fa-sign-out fa-2x"></i>
    </div>
</div>
<div class="display-container">
    <div class="row-fluid">
        <div class="display-option col-md-2 col-sm-2 col-xs-2 col-no-pad">
            <div class="panel category">
                <div class="bar">
                    Display Type
                </div>
                <div class="category-content" data-ng-mouseleave="(!display.isFullScreen) || display.toggleDisplayBar()">
                    <display mis-display-view ="misDisplayView"
                             custom-tags = "customTags"
                             custom-tag-view="customTagView"
                             tabular-view ="tabularView"
                             scrollers="scrollers">
                    </display>
                </div>
            </div>
        </div>
        <div class="display-view col-md-10 col-sm-10 col-xs-10 col-no-pad">
            <div class="panel View">
                <div class="filter-bar display-filter">
                    <ul>
                        <li data-ng-if="display.displayService.currentDisplay != undefined && display.isFullScreen"><span class="display-option"><i data-ng-mouseover="display.toggleDisplayBar()" title="Display Type Bar" class="fa fa-bars"></i></span></li>
                        <li data-ng-if="display.displayService.currentDisplay == undefined"><span class="display-option">Display Detail</span></li>
                        <li data-ng-if="display.displayService.currentDisplay != undefined && display.displayService.currentDisplay.DisplayTypeId.Id != 5"><span class="display-option">{{ display.displayService.currentDisplay.DisplayName }}</span></li>
                        <li data-ng-if="display.displayService.currentDisplay.DisplayTypeId.Id == 5"><span class="display-option">Scroller</span></li>
                                                
                        <li data-ng-show="display.displayService.currentDisplay != undefined" style="float: right !important; padding: 0px;">

                            <!-- Tabular View -->
                             <span data-ng-if="display.displayService.currentDisplay.DisplayTypeId.Id == 4">
                                <span class="mis-display-view fa fa-list"   data-ng-class="{ 'active' : tabularView === 'Summarised View' }" data-ng-click="display.changeTabularView('Summarised View')" tooltip-placement="bottom" uib-tooltip="Summarised View"></span>
                                <span class="mis-display-view fa fa-table"   data-ng-class="{ 'active' : tabularView === 'Detailed View' }" data-ng-click="display.changeTabularView('Detailed View')" tooltip-placement="bottom" uib-tooltip="Detailed View"></span>                              
                            </span>

                            <!-- Plant View -->
                            <span data-ng-if="display.displayService.currentDisplay.DisplayTypeId.Id == 9">
                                <span class="mis-display-view fa fa-list"   data-ng-class="{ 'active' : misDisplayView === 'Summarised View' }" data-ng-click="display.changePlantView('Summarised View')" tooltip-placement="bottom" uib-tooltip="Summarised View"></span>
                                <span class="mis-display-view fa fa-table"   data-ng-class="{ 'active' : misDisplayView === 'Detailed View' }" data-ng-click="display.changePlantView('Detailed View')" tooltip-placement="bottom" uib-tooltip="Detailed View"></span>
                                <span class="mis-display-view fa fa-dashboard ng-hide"  data-ng-class="{ 'active' : misDisplayView === 'Gauge' }" data-ng-click="display.changePlantView('Gauge')" tooltip-placement="bottom" uib-tooltip="Gauge View"></span>
                                <span class="mis-display-view fa fa-list-alt"  data-ng-class="{ 'active' : misDisplayView === 'Scroller' }" data-ng-click="display.changePlantView('Scroller')" tooltip-placement="bottom" uib-tooltip="Scroller View"></span>
                                <span class="mis-display-view fa fa-line-chart"  data-ng-class="{ 'active' : misDisplayView === 'Trend' }" data-ng-click="display.changePlantView('Trend')" tooltip-placement="bottom" uib-tooltip="Trend View"></span>
                            </span>

                             <!-- Comparison View -->
                            <span data-ng-if="display.displayService.currentDisplay.DisplayTypeId.Id == 10">
                                <span class="mis-display-view fa fa-list"   data-ng-class="{ 'active' : customTagView === 'Summarised View' }" data-ng-click="display.changeComparisonView('Summarised View')" tooltip-placement="bottom" uib-tooltip="Summarised View"></span>
                                <span class="mis-display-view fa fa-table"   data-ng-class="{ 'active' : customTagView === 'Detailed View' }" data-ng-click="display.changeComparisonView('Detailed View')" tooltip-placement="bottom" uib-tooltip="Detailed View"></span>
                                <span class="mis-display-view fa fa-dashboard ng-hide"  data-ng-class="{ 'active' : customTagView === 'Gauge' }" data-ng-click="display.changeComparisonView('Gauge')" tooltip-placement="bottom" uib-tooltip="Gauge View"></span>
                                <span class="mis-display-view fa fa-list-alt"  data-ng-class="{ 'active' : customTagView === 'Scroller' }" data-ng-click="display.changeComparisonView('Scroller')" tooltip-placement="bottom" uib-tooltip="Scroller View"></span>
                                <span class="mis-display-view fa fa-line-chart"  data-ng-class="{ 'active' : customTagView === 'Trend' }" data-ng-click="display.changeComparisonView('Trend')" tooltip-placement="bottom" uib-tooltip="Trend View"></span>
                            </span>

                            <i tooltip-placement="left-bottom" uib-tooltip="Fullscreen"  id="display-fullscreen" class="mis-display-view fa fa-expand" data-ng-click="display.fullScreen($event)"></i>
                            <i tooltip-placement="left-bottom" uib-tooltip="Normal" id="display-normal" class="mis-display-view fa fa-compress ng-hide" data-ng-click="display.normalScreen($event)"></i>
                        </li>

                    </ul>
                </div>

                <div class="display-detail">
                    <div data-ui-view style="height: 100%;overflow:hidden;"></div>
                </div>

                <div class="expand-content ng-hide">
                    <i class="fa fa-caret-right" title="Expand Display Bar"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="pull-left">Logged by: {{ display.user.username }}</div>
    <div class="pull-right">Powered by Flex-eSuite</div>
</div>

