.footer {
    padding: 10px 20px;
    background-color: #ECEFF1;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    height: 50px;
    overflow-y: hidden;
    border-top: 1px solid silver;
}

    .footer li {
        display: inline-block;
        padding: 2px;
    }

        .footer li button {
            width: 100px;
        }
