@import './Display-Type.css';

.display-container {
    height: auto;
}

    .display-container .View {
        border: 1px solid silver;
        margin: 2px 0px;
        position: relative;
    }

    .display-container .bar {
        height: 25px;
        font-size: 13px;
        font-weight: bold;
        font-family: Tahoma;
        padding: 2px 10px;
        color: #fff;
        background: #757575;
    }

    .display-container .panel .filter-bar {
        height: 25px;
        font-size: 13px;
        font-weight: bold;
        font-family: Tahoma;
        color: #fff;
        background-color: #757575;
    }

        .display-container .panel .filter-bar li {
            height: 25px;
            display: inline-block;
            width: 80px;
            float: left;
            text-align: left;
        }

            .display-container .panel .filter-bar li .display-option {
                padding: 2px 6px;
                display: inline-block;
            }

            .display-container .panel .filter-bar li .mis-display-view {
                padding: 7px 10px;
                width: 30px;
                height: 25px;
                cursor: pointer;
                float:left;
            }

            .display-container .panel .filter-bar li .active {
                background-color: #424242;
            }

            .display-container .panel .filter-bar li .mis-display-view:hover {
                background-color: #424242;
            }

            .display-container .panel .filter-bar li a {
                color: #fff;
                text-decoration: none;
            }

            .display-container .panel .filter-bar li.active {
                background-color: #424242;
            }

.View .expand-content {
    position: absolute;
    cursor: pointer;
    top: 50px;
    left: -2px;
    font-size: 30px;
    color: #757575;
}

.display-filter li {
    float: left !important;
    width: auto !important;
    height: 50px;
}

.display-detail {
    height: 78vh;
    overflow-y: auto;
    overflow-x: hidden;
}

    .display-detail .display-container {
        display: table;
    }

        .display-detail .display-container .display-description {
            display: table-cell;
            text-align: center;
            font-size: 22px;
            padding: 20% 40px;
            font-family: Garamond;
        }

    .display-detail li {
        cursor: pointer;
        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
    }

        .display-detail li:hover {
            background-color: #81D4FA;
        }

        .display-detail li .display-container {
            height: 50px;
            padding: 5px 10px;
        }

            .display-detail li .display-container span {
                font-size: 20px;
            }

.tabular-container .mis-container {
    height: 100vh;
    padding: 0px;
}

.tabular-data, .trend-data, .mimic-data, .scroller-data, .gauge-data {
    height: 100%;
    overflow-y:auto;
    overflow-x: hidden;
}

 .mis-data {
    height: 100%;
    overflow: hidden;
}

.scroller-data {
    padding: 0px 2px;
}

.tabular-data .header-data, .trend-data .header-data, .mis-data .header-data {
    color: silver;
}

.tabular-data .tag-data, .trend-data .tag-data, .mis-data .tag-data {
    background-color: #212121;
    color: #B39DDB;
    cursor: pointer;
}

    .tabular-data .tag-data .tag-value,
    .trend-data .tag-data .tag-value,
    .mis-data .tag-data .tag-value {
        color: #00C853;
    }

    .tabular-data .tag-data .tag-quality,
    .trend-data .tag-data .tag-quality,
    .mis-data .tag-data .tag-quality {
        color: red;
    }

.tabular-data th,
.tabular-data td,
.trend-data th,
.trend-data td,
.mis-data th {
    border-top: 0.1px solid silver;
}

.tabular-data .tabular-detail {
    background-color: #212121;
    height: 100%;
}

.mis-data .mis-detail {
    background-color: #212121;
    height: 100%;
}

    .tabular-data .tabular-detail tr th:first-child,
    .mis-data .mis-detail tr th:first-child,
    .trend-data .trend-detail tr th:first-child {
        padding-left: 20px;
    }

.trend-data .trend-detail,
.mis-data .mis-detail {
    height: 500px;
    position: relative;
}

.mis-data .mis-detail div#mis-y-axis-point,
.trend-data .trend-detail div#mis-y-axis-point {
    position: absolute;
    right: 10px;
    top: 0px;
}

.mis-data .mis-detail div#mis-y-axis-point span.point,
.trend-data .trend-detail div#mis-y-axis-point span.point {
    display: block;
    width: 40px;
    height: 10px;
    color: #9E9E9E;
    position: absolute;
    right:3px;   
    text-align:right;    
}

    .mis-data .mis-detail div#mis-y-axis-point span.point.point-one,
    .trend-data .trend-detail div#mis-y-axis-point span.point.point-one {
        top: 17px;        
    }

    .mis-data .mis-detail div#mis-y-axis-point span.point.point-two,
    .trend-data .trend-detail div#mis-y-axis-point span.point.point-two {
        top: 90px;        
    }

    .mis-data .mis-detail div#mis-y-axis-point span.point.point-three,
    .trend-data .trend-detail div#mis-y-axis-point span.point.point-three {
        top: 162px;        
    }

    .mis-data .mis-detail div#mis-y-axis-point span.point.point-four,
    .trend-data .trend-detail div#mis-y-axis-point span.point.point-four {
        top: 235px;       
    }

    .mis-data .mis-detail div#mis-y-axis-point span.point.point-five,
    .trend-data .trend-detail div#mis-y-axis-point span.point.point-five {
       top: 309px;
    }

.mimic-data .mimic-detail {
    position: relative;
    height: 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}


    .mimic-data .mimic-detail .mimic-tag {
        position: absolute;
    }

.trend-data #trend-line,
.mis-data #mis-line {
    height: 400px;
    background-color: #212121;
    padding: 2px 40px 2px 5px;
}

    .trend-data #trend-line svg ,
    .mis-data #mis-line svg {
        width: 100%;
        height:400px !important;
    }

.tabular-data .tabular-header,
.mis-data .mis-header {
    text-align: center;
    font-size: 24px;
    margin: 20px 0px;
    color: #01579B;
    height: 5%;
}

.scroller-data .scroller-detail {
    margin: 10px 6px;
    height: 200px;
    position: relative;
    border: 1px solid silver;
}

    .scroller-data .scroller-detail .scroller-header {
        height: 30px;
        text-align: center;
        background-color: #1565C0;
        color: #fff;
        padding-top: 5px;
        font-weight: bold;
    }

        .scroller-data .scroller-detail .scroller-header .scroller-name {
            margin-left: 20px;
        }

        .scroller-data .scroller-detail .scroller-header .scroller-name.custom-name {
            margin-left: 0px;
        }

        .scroller-data .scroller-detail .scroller-header .scroller-close {
            float: right;
            height: 20px;
            padding-top: 1px;
            border-radius: 50%;
            margin: 0px 5px;
            width: 20px;
            cursor: pointer;
        }

            .scroller-data .scroller-detail .scroller-header .scroller-close:hover {
                background-color: #fff;
                color: #1565C0;
            }

    .scroller-data .scroller-detail .scroller-tag {
        position: absolute;
        display: none;
        height: 168px;
        background-color: #E0F7FA;
        width: 100%;
        top: 30px;
        left: 0px;
    }

    .scroller-data .scroller-detail .scroller-tag.custom-scroller-view {
          display: block;
    }     

        .scroller-data .scroller-detail .scroller-tag.active {
            display: block;
        }

        .scroller-data .scroller-detail .scroller-tag .tag-name {
            height: 25px;
            text-align: center;
            background-color: #64B5F6;
            color: #fff;
            font-weight: bold;
            padding-top: 2px;
        }

        .scroller-data .scroller-detail .scroller-tag .tag-value {
            height: 50px;
            text-align: center;
            font-size: 30px;
            margin-top: 3px;
            padding-top: 2px;
        }

        .scroller-data .scroller-detail .scroller-tag .tag-unit {
            font-size: 15px;
        }

        .scroller-data .scroller-detail .scroller-tag .tag-detail li {
            height: 30px;
            padding: 5px 10px;
            cursor: default;
            /*background-color: #F5F5F5;*/
        }

            .scroller-data .scroller-detail .scroller-tag .tag-detail li .tag-detail-value {
                float: right;
            }


.gauge {
    padding: 15px 12%;
    text-align: center;
}

    .gauge .gauge-control {
        display: none;
    }

    .gauge .gauge-tag-name {
        font-size: 16px;
        margin: 0px;
        width: 250px;
        padding-top: 8px;
        text-align: center;
    }

/* gauge style */
.gauge-detail .gauge .envelope {
    background: #0F0F0F;
    position: relative;
    box-shadow: inset 0 0 5px 5px #000;
    -webkit-box-shadow: inset 0 0 5px 5px #000;
    -o-box-shadow: inset 0 0 5px 5px #000;
    -moz-box-shadow: inset 0 0 5px 5px #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
}

.gauge-detail .gauge .speedNobe {
    position: absolute;
    width: 100%;
    z-index: 10;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}

.gauge-detail .gauge .speedPosition {
    position: absolute;
    color: #FFF;
    text-align: center;
    line-height: 88PX;
    font-family: arial;
    font-size: 23px;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    background: #191919;
    box-shadow: 0 0 3px 3px black;
    -webkit-box-shadow: 0 0 3px 3px black;
    -moz-box-shadow: 0 0 3px 3px black;
    -o-box-shadow: 0 0 3px 3px black;
}

.gauge-detail .gauge .speedUnit {
    position: absolute;
    color: #FFF;
    width: 100px;
    height: 20px;
    top: 180px;
    left: 75px;
    text-align: center;
    font-family: arial;
    font-size: 12px;
}

.gauge-detail .gauge .fonts {
    font-family: arial;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.gauge-detail .gauge .speedNobe div {
    background: #48a3cb;
    position: absolute;
    height: 100%;
    top: 0;
}

.gauge-detail .gauge .numb,
.gauge-detail .gauge .nob {
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    -moz-transition: opacity 1s;
    position: absolute;
    opacity: 0.5;
}

.gauge-detail .gauge .nob {
    background: #eee;
    box-shadow: 0 0 2px 1px #eee;
    -webkit-box-shadow: 0 0 2px 1px #eee;
    -moz-box-shadow: 0 0 2px 1px #eee;
    -o-box-shadow: 0 0 2px 1px #eee;
}

.gauge-detail .gauge .numb {
    color: #eee;
    text-align: left;
    overflow: hidden;
    opacity: 0.5;
    font-family: arial;
    font-size: 13px;
    min-width: 30px;
    width: auto !important;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 3px;
}

.gauge-detail .gauge .nob.bright {
    opacity: 1;
}

.gauge-detail .gauge .nob.danger {
    background: #FFF;
    box-shadow: 0 0 2px 1px #FFF;
    -webkit-box-shadow: 0 0 2px 1px #FFF;
    -moz-box-shadow: 0 0 2px 1px #FFF;
    -o-box-shadow: 0 0 2px 1px #FFF;
}

.gauge-detail .gauge .numb.bright {
    opacity: 1;
}

.gauge-detail .gauge .numb.danger {
    color: #FFF;
}