<div class="trend-data" style="background-color: #212121">
    <div class="trend-detail" data-ng-show="trend.tags.length > 0">
        <div id="trend-line">
        </div>

        <div id="mis-y-axis-point" data-ng-if="trend.isShowCustomPoint">
            <span class="point point-one">{{ trend.customPoint[0] }}</span>
            <span class="point point-two">{{ trend.customPoint[1] }}</span>
            <span class="point point-three">{{ trend.customPoint[2] }}</span>
            <span class="point point-four">{{ trend.customPoint[3] }}</span>
            <span class="point point-five">{{ trend.customPoint[4] }}</span>
        </div>

        <div style="overflow-y: auto; overflow-x: hidden;"
            data-ng-style="{ 'height' : $parent.display.isFullScreen ? '250px' : '125px' }">
            <table class="table table-condensed" ng-cloak>
                <tr class="header-data">
                    <th>LEGEND</th>
                    <th>TAG NAME</th>
                    <th>CURRENT VALUE</th>
                    <th>CURRENT TIMESTAMP</th>
                    <th>UNIT</th>
                    <th>MIN VALUE</th>
                    <th>MIN TIMESTAMP</th>
                    <th>MAX VALUE</th>
                    <th>MAX TIMESTAMP</th>
                    <th>QUALITY</th>
                </tr>

                <tr class="tag-data"
                    data-ng-click="trend.clearHighlightTag()"
                    data-ng-style="{'background-color': trend.selectedTagIndex === -1 ? '#000' : '#212121' }">
                    <th colspan="10">SHOW ALL TAG IN PERECENTAGE SCALE</th>
                </tr>

                <tr class="tag-data"
                    data-ng-repeat="tag in trend.tags"
                    data-ng-click="trend.highlightTag($index)"
                    data-ng-style="{'background-color': trend.selectedTagIndex === $index ? '#000' : '#212121' }">
                    <th data-ng-style="{ color : tag.TrendColorCode }">####</th>
                    <th>{{ tag.Tag_Name }}</th>
                    <th data-ng-style="{ color : trend.setTagValueColor(tag) }">{{ tag.Value }}</th>
                    <th>{{ tag.Timestamp | jsDate | date:"dd-MMM-yyyy hh:mm:ss"}}</th>
                    <th>{{ tag.Unit }}</th>
                    <th>{{ tag.MinValue }}</th>
                    <th>{{ tag.MinTimestamp | jsDate | date:"dd-MMM-yyyy hh:mm:ss"}}</th>
                    <th>{{ tag.MaxValue }}</th>
                    <th>{{ tag.MaxTimestamp | jsDate | date:"dd-MMM-yyyy hh:mm:ss"}}</th>
                    <th data-ng-style="{ color : trend.setQualityColor(tag.Quality) }">{{ tag.Quality }}</th>
                </tr>
            </table>
        </div>
    </div>

     <div data-ng-show="trend.tags.length==0" style="padding: 8px;font-size: 15px;color:white">
          <span>There is no parameter tag selected for trend view</span>
     </div>
</div>
