.login-container {
    height: 100vh;
    width: 100%;
    display: table;
    background: #CFD8DC; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#CFD8DC,#FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#CFD8DC,#FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#CFD8DC,#FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CFD8DC,#FFFFFF); /* Standard syntax */
}
      .login-container .signup {
        position:absolute;
        top:20px;
        right:30px;
    }

    .login-container .login {
        display: table-cell;
        vertical-align: middle;
    }

        .login-container .login .login-row {
            margin-top: 0px;
        }

        .login-container .login .site-detail {
            margin: 0px 80px;
            border-right: 1px solid #BDBDBD;
            min-height: 400px;
            padding-top:100px;
        }

            .login-container .login .site-detail .title {
                font-size: 60px;
                font-family: Garamond;
                font-style:italic;
            }

             .login-container .login .site-detail .tag-line{
                font-size: 26px;
                font-family: Garamond;
                font-style:italic;
            }

        .login-container .login .login-form {
            margin-top:70px;
        }

            .login-container .login .login-form .login-attribute {
                margin: 15px 0px;
            }

                .login-container .login .login-form .login-attribute .login-title {
                    font-weight: bold;
                }
