<ul>
    <li data-ng-repeat="(displayKey, displayValue) in displayType.displayTypes | filter : displayType.isShowDisplay | groupBy : 'DisplayTypeId.DisplayType'">
        <span data-ng-click="displayType.toggle($event)">
            <span class="icon fa fa-caret-right"></span>
            <span class="display-link" data-ng-click="displayType.display(displayValue[0])">{{ displayKey }}</span>           
        </span>

        <!-- DISPLAY TREE -->
        <ul class="display-link-panel" 
            style="display:none"
            data-ng-if="displayValue[0].DisplayTypeId.Id != displayType.displayService.displayType.PLANTVIEW && displayValue[0].DisplayTypeId.Id != displayType.displayService.displayType.COMPARISONVIEW">
            <li data-ng-repeat="displayDetail in displayValue">
                <span class="display-link">
                    <a data-ng-click="displayType.selectDisplay(displayDetail)">{{ displayDetail.DisplayName }}</a>
                </span>
            </li>
        </ul>

        <!-- PLANT VIEW RECURSION -->
        <script type="text/ng-template" id="plantViewTemplate.html">      
            <ul class="display-link-panel" style="display:none">
                <li data-ng-repeat="tag in tag.CHILD">
                    <span data-ng-click='!tag.CHILD.length || displayType.toggle($event)'>
                        <span data-ng-if='tag.CHILD.length' class='icon fa fa-caret-right'></span>
                        <span class='display-link' data-ng-click='displayType.loadPlantView(tag,"Summarised View")'>{{ tag.NAME }}</span>
                    </span>
                    <span data-ng-include="'plantViewTemplate.html'"></span>
                </li>
            </ul>
        </script>
        <ul data-ng-if="displayValue[0].DisplayTypeId.Id === displayType.displayService.displayType.PLANTVIEW"
            class="display-link-panel" style="display:none">

            <li data-ng-repeat="tag in displayType.plantViewtags">
                <span data-ng-click='!tag.CHILD.length || displayType.toggle($event)'>
                    <span data-ng-if='tag.CHILD.length' class='icon fa fa-caret-right'></span>
                    <span class='display-link' data-ng-click='displayType.loadPlantView(tag,"Summarised View")'>{{ tag.NAME }}</span>
                </span>
                <span data-ng-include="'plantViewTemplate.html'"></span>
            </li>
        </ul>  
        
        <!-- COMPARISON VIEW RECURSION -->
        <script type="text/ng-template" id="ComparisonViewTemplate.html">      
            <ul class="display-link-panel" style="display:none">
                <li data-ng-repeat="tag in tag.CHILD">
                    <span data-ng-click=' tag.CHILD.length > 0  ?  displayType.toggleComparisonView($event): displayType.retrieveTimestampedTag($event,tag)'>
                        <span   data-ng-if="tag.TAG_TYPE_ID == displayType.tagService.tagType.node"
                                class="icon fa fa-caret-right" ></span>

                        <input  type="checkbox"                                
                                data-ng-if="tag.TAG_TYPE_ID == displayType.tagService.tagType.timestamped"
                                data-ng-checked="tag.checked" 
                                data-ng-click="displayType.onTagCheckedChanged($event, tag)" />
                        <span class='display-link'>{{ tag.NAME  }}</span>
                    </span>
                    <span data-ng-include="'ComparisonViewTemplate.html'"></span>
                </li>
            </ul>
        </script>
        <ul data-ng-if="displayValue[0].DisplayTypeId.Id == displayType.displayService.displayType.COMPARISONVIEW"
            class="display-link-panel" style="display:none">

            <li data-ng-repeat="tag in displayType.comparisonViewtags">
                <span data-ng-click='tag.CHILD.length > 0  ?  displayType.toggleComparisonView($event): displayType.retrieveTimestampedTag($event,tag)'>
                    <span   data-ng-if="tag.TAG_TYPE_ID == displayType.tagService.tagType.node"
                            class="icon fa fa-caret-right" ></span>

                    <input  type="checkbox"                            
                            data-ng-if="tag.TAG_TYPE_ID == displayType.tagService.tagType.timestamped"
                            data-ng-checked="tag.checked" 
                            data-ng-click="displayType.onTagCheckedChanged($event, tag)" />

                     <!-- data-ng-model='"tag" + tag.Tag_Id'-->
                    <span class='display-link'>{{ tag.NAME  }}</span>
                </span>
                <span data-ng-include="'ComparisonViewTemplate.html'"></span>
            </li>
        </ul>       
    </li>
</ul>
