<div class="header">
    <div class="title pull-left">Flex-eSuite</div>
    <div class="logout pull-right">
        <a data-ui-sref="Flex-eSuiteHome"><i title="home" class="fa fa-home fa-2x"></i></a>
        <i title="logout" data-ng-click="tag.logout()" class="fa fa-sign-out fa-2x"></i>

    </div>
</div>
<div class="display-container">
    <div class="row-fluid">
        <div class="col-md-2 col-sm-2 col-xs-2 col-no-pad ng-hide">
            <div class="panel category">
                <div class="bar">
                    DESCRIPTION
                </div>
                <div class="category-content">
                    tag Hierarchy
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-no-pad">
            <div class="panel View">
                <div class="filter-bar display-filter tag-filter">
                    <ul>
                        <li>TAGS</li>                       
                    </ul>
                </div>

                <div class="display-detail">
                    <div class="tag-hierarchy-container">
                        <!--<script type="text/ng-template" id="tagTree.html">
                            <ul>
                                <li class='child' data-ng-repeat="item in items">
                                    <span data-ng-click='tag.toggleNode()' class='node'>
                                        <span class='node-hover-layer'></span>
                                        <i class='fa fa-chevron-circle-right' aria-hidden='true'></i>
                                        {{ item.NAME }}

                                        <span data-ng-include="'tagTree.html'" onload="items = item.CHILD">
                                        </span>
                                    </span>
                                </li>
                            </ul>
                        </script>

                        <ul>
                            <li class='root' data-ng-repeat="dist in tag.tags">
                                <span data-ng-click='tag.toggleNode()' class='root-node'>
                                    <span class='node-hover-layer'></span>
                                    <i class='fa fa-chevron-circle-right' aria-hidden='true'></i>
                                    <span class='node'>{{ dist.NAME }}</span>
                                    <span data-ng-include="'tagTree.html'" onload="items = dist.CHILD"></span>
                                </span>
                            </li>
                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <ui-spinner data-ng-show="tag.loader"></ui-spinner>
<div class="footer">
    <div class="pull-left">Logged by: {{ tag.user.username }}</div>
    <div class="pull-right">Powered by Flex-eSuite</div>
</div>
