<div class="login-container">
  <!--  <div class="signup">
        <a  title="Signup" data-ui-sref="signup"  class="button btn-blue">Sign up</a>
    </div>-->
    <div class="login">
        <div class="row-fluid login-row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="site-detail">
                    <span class="title">Flex-eSuite</span>
                    <p class="tag-line">exploring  information, not just data</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">                
                <form class="login-form" name="form" data-ng-submit="login.login()" role="form">
                    <ul>
                        <li><h3>Log in your account</h3></li>
                        <li>
                            <div class="login-attribute">
                                <span class="login-title">Username:</span><br />
                                <input type="text" data-ui-focus  class="textbox" name="username" data-ng-model="login.user.username" required/>
                                <span data-ng-show="form.login.user.username.$dirty && form.login.user.username.$error.required" class="help-block">Username is required</span>
                            </div>
                        </li>
                        <li>
                            <div class="login-attribute">
                                <span class="login-title">Password:</span><br />
                                <input type="password" class="textbox" autocomplete="off" name="password" data-ng-model="login.user.password" required/>
                                <span data-ng-show="form.login.user.password.$dirty && form.login.user.password.$error.required" class="help-block">Password is required</span>
                            </div>
                        </li>
                        <li class="ng-hide">
                            <input type="checkbox" name="rememberMe"  data-ng-model="login.user.rememberMe"/> Remember me
                        </li>
                        <li>
                            <button data-ng-disabled="(form.$invalid && form.login.user.username.$dirty) || login.dataLoading" class="button button-blue" type="submit">login</button>
                            <img data-ng-if="login.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        </li>
                        <li>
                            <div style="width: 250px;height: 40px;padding: 10px 10px;" data-ng-show="login.error" class="alert alert-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{login.error}}</div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
