<div class="signup-container">

    <div class="login">
        <a data-ui-sref="login" title="Login" class="button btn-blue">login</a>
    </div>

    <div class="signup">
        <div class="row-fluid signup-row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="site-detail">
                    <p class="title"><i class="fa fa-user-plus" aria-hidden="true"></i>Create your account in flex-eSuite</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <form class="signup-form" name="form" data-ng-submit="signup.signup()" role="form">
                    <ul>
                        <li>
                            <h3>Sign up</h3>
                        </li>
                        <li>
                            <div class="signup-attribute">
                                <span class="signup-title">Username:</span><br />
                                <input type="text" data-ui-focus class="textbox" name="username" data-ng-model="signup.user.username" required />
                                <span data-ng-show="form.signup.user.username.$dirty && form.signup.user.username.$error.required" class="help-block">Username is required</span>
                            </div>
                        </li>
                        <li>
                            <div class="signup-attribute">
                                <span class="signup-title">Password:</span><br />
                                <input type="password" class="textbox" autocomplete="off" name="password" data-ng-model="signup.user.password" required />
                                <span data-ng-show="form.signup.user.password.$dirty && form.signup.user.password.$error.required" class="help-block">Password is required</span>
                            </div>
                        </li>
                        <li>
                            <div class="signup-attribute">
                                <span class="signup-title">Confirm Password:</span><br />
                                <input type="password" class="textbox" autocomplete="off" name="password" data-ng-model="signup.user.confirmPassword" required />
                                <span data-ng-show="form.signup.user.confirmPassword.$dirty && form.signup.user.password.$error.required" class="help-block">Password is required</span>
                            </div>
                        </li>
                        <li>
                            <button data-ng-disabled="(form.$invalid && form.signup.user.username.$dirty) || signup.dataLoading" class="button button-blue" type="submit">Signup</button>
                            <img data-ng-if="signup.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </li>
                        <li>
                            <div style="width: 250px; min-height: 40px; padding: 10px 10px;" data-ng-show="signup.alert.message" class="alert alert-{{ signup.alert.class }}"><i class="fa {{ signup.alert.fa_icon }}" aria-hidden="true"></i> {{signup.alert.message}}</div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
