@import url(./Mdi-Main/Header.css);
@import url(./Mdi-Main/Mdi-Main.css);
@import url(./Tag/Tag.css);
@import url(./Mdi-Main/Footer.css);
@import url(./Control/Control.css);
@import url(./Display/Display.css);
@import url(./Excel/Excel.css);
@import url(./User/Login.css);
@import url(./User/Signup.css);

body {
    padding: 0px;
	margin: 0px;
	font-family: Calibri;
}

.wrapper {   
    height:100vh;
    overflow:hidden;   
}