.instant-container .instant-report {
    height:50px;
    padding:10px 10px;
}

.instant-container .instant-report img{    
    width:30px;   
}

.instant-container .active{
    background-color:#EEEEEE;
}

.instant-container .instant-report .instant-report-title{
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    padding: 0px 5px;
    font-family:Tahoma;
    height: 30px;
    width: 79%;
}

.interval .interval-tag {
    margin:12px 10px;
}

.interval .interval-tag .interval-label{
    width: 100px;
    display: inline-block;
}